<div class="row">
  <div class="col-md-2">&nbsp;</div>

  <div class="class-col-md-8">
    <div id="tasksPanel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Angular for Java developers Tasks</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <app-tasks-add></app-tasks-add>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <app-tasks-list></app-tasks-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="com-md-2">&nbsp;</div>
</div>
